*{
    padding: 0px;
    margin: 0px;
    background-color: rgba(155, 145, 248, 0.541);
}

.head{
    margin: 0;
    padding: 0;
    background-color: rgba(29, 10, 138, 0.877);
    font-size: 23px;
    font-display:block;
    display:flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.head img{
    margin: 2px;
    height: 55px;
    width: 200px;
    margin-right: 30%;
}
.head nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 6%;
    background-color: rgba(29, 10, 138, 0.877);
    list-style: none;
}
.head nav ul li a{
    display: block;
    background-color: rgba(33, 10, 161, 0.877);
    color: white;
    font-size: 100%;
    text-decoration: none;
}

.icon-container{
    border: solid 8px rgba(29, 11, 189, 0.541);
    width: 38%;
    height: 90%;
    position: absolute;
    /* background-color: rgba(29, 11, 189, 0.541); */
    background-image: url(images/iconbackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.icon-container img{
    width: 98%;
    height: auto;   
}
.icons{
    position: absolute;
    background-color: transparent;
    top: 8%;
    left: 5%;

}
.icons a{
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: white;
    font-size: 28px;
    text-decoration: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15%;    
}

.icons img{
    margin: 2px;
    height: 60px;
    width: 50px;
    border-radius: 40%;
}

.main{
    margin: 0;
    padding: 0;

}