*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f4ff;
}

.head{
    background-color: #0f172a;
    padding: 12px 20px;
    font-size: 23px; 
    display:flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3000;
}

.menu-btn{
    font-size: 28px;
    cursor: pointer;
    color: white;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2000;
}
.sidebar{
   position: fixed;
    top: 0;
    left: -260px;     /* Hidden */
    width: 260px;
    height: 100vh;
    background: #0f172a;
    color: white;
    padding: 20px;
    transition: 0.3s ease;
    z-index: 5000;
    box-shadow: 4px 0 20px rgba(0,0,0,0.3);
}
.sidebar.active{
    left: 0;
}
.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
}
.sidebar a:hover {
    background: rgba(255,255,255,0.1);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: none;
  z-index: 4000;
}

.search-box{
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
}

.search-icon{
    font-size: 38px;
    cursor: pointer;
    color: white;
    margin-left: 25px;
}

#searchInput{
    width: 0;
    opacity: 0;
    padding: 0;
    margin-left: 8px;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: all 0.3s ease;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.search-box.active #searchInput{
    width: 220px;
    opacity: 1;     
    padding: 8px 12px;
}

#suggestions {
  position: absolute;
  top: 45px;
  left: 35px;
  background: white;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  display: none;
  max-height: 180px;
  overflow-y: auto;
  z-index: 5000;
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #6366f1;
  color: white;
}

.head img{
    height: 50px;   
    width: 250px;
}

.head nav{
    margin-left: auto;
    margin-right: 20px;
}
.head nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 6%;
    background-color: rgba(29, 10, 138, 0.877);
    list-style: none;
}
.head nav ul li a{
    display: block;
    color: white;
    font-size: 100%;
    text-decoration: none;
    background: #6366f1;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: 500;
    margin-right: 25px;
    gap: 15px;
}

.icon-container{
    border: solid 8px #2a4074;
    width: 50%;
    height: 125%;
    position: absolute;
    background-image: url(images/iconbackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;

}

.icon-container img{
    width: 98%;
    height: auto;   
}
.icons{
    position: absolute;
    background-color: transparent;
    top: 8%;
    left: 5%;

}
.icons a{
    backdrop-filter: blur(5px);
    color: white;
    font-size: 28px;
    text-decoration: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15%; 
    background: rgba(0,0,0,0.4);
    padding: 10px 14px;
    border-radius: 12px;
    width: 260px;   
}
.icons a:hover{
    transform: translateX(6px);
    transition: 0.2s ease;
}


.icons img{
    margin: 2px;
    height: 60px;
    width: 50px;
    border-radius: 40%;
}

.main{
    margin: 0;
    padding: 0;

}