*{
    padding: 0px;
    margin: 0px;
    background-color: rgb(201, 168, 231);
}

.head{
    margin: 0;
    padding: 0;
    background-color: rgb(201, 168, 231);
    font-size: 23px;
    font-display:block;
    display:flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.head img{
    margin: 2px;
    height: 55px;
    width: 65px;
}

.head h1{
    font-size: 120%;
    margin-right: 400px;
}   

.head nav ul{
    margin: 0 25px;;
    display: flex;
    gap: 6%;
}
.image img{
    height: 18%;
    width: 100%;
}

.icons a{
    color: black;
    margin-left: 12px;
    text-decoration: none;
    background: transparent;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 15%;
    gap: 20px;
}

.icons img{
    margin: 2px;
    height: 60px;
    width: 50px;
}

.main{
    margin: 0;
    padding: 0;

}